.header {
   position: relative;
   align-items: center;
   background-color: #fff;
   border: 0.1rem solid #f8f8f8;
   display: flex;
   height: 5rem;
   justify-content: space-between;
   left: 0;
   position: sticky;
   top: 0;
   transition:
      transform 0.5s cubic-bezier(0.65, 0, 0.35, 1),
      background-color 0.25s cubic-bezier(0.65, 0, 0.35, 1),
      color 0.25s cubic-bezier(0.65, 0, 0.35, 1),
      border-color 0.25s cubic-bezier(0.65, 0, 0.35, 1);
   z-index: 10;
   width: 100%;
   margin: 0 auto;
   padding: 0 2.8rem;

   &_inner {
      display: flex;
      gap: 0.8rem;
   }

   &_logo {
      text-transform: uppercase;
      align-items: center;
      display: flex;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, calc(-50% + 1px));
      z-index: 20;
   }

   &_left,
   &_left_inner {
      align-items: center;
      display: flex;
      gap: 0.8rem;
   }
}

.circle {
   border: 0.05rem solid #0d0d0d;
   border-radius: 1rem;
   height: 0.8rem;
   margin-right: 0.4rem;
   transition: border-color 0.2s ease-in-out;
   width: 0.8rem;
}

.search_button {
   min-width: fit-content !important;
   stroke: #0d0d0d;

   &:hover {
      stroke: #fff;
   }
}

.menu_button {
   &:hover {
      .circle {
         border-color: #fff;
      }
   }
}

.burger_button {
   display: none;
}

@media (max-width: 580px) {
   .header {
      padding: 0 5.1282051282vw;
   }

   .header_inner,
   .header_left_inner {
      display: none;
   }

   .header_left {
      width: 100%;
   }

   .search_button {
      margin-left: auto;
   }

   .burger_button {
      display: flex;
      @include flexCenter();
      background-color: #fff;
      border: 1px solid #0d0d0d;
      border-radius: 50%;
      @include fontABCDiatype(1.4rem, 1, -0.015em, 400);
      height: 24px;
      transition:
         background-color 0.2s ease-in-out,
         color 0.2s ease-in-out;
      width: 24px;
   }
}
