.thumbnail {
   cursor: pointer;
   position: relative;

   &_premium {
      align-items: center;
      background-color: hsla(0, 0%, 55%, 0.3);
      backdrop-filter: blur(6px);
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.4rem;
      height: 28px;
      padding: 0 6px;
      justify-content: center;
      transition: background-color 0.2s ease-in-out;

      @include fontABCDiatype(14px, 1.25, normal, 500, #fff);
      letter-spacing: -0.02em;

      svg {
         stroke: #fff;
         width: 1.6rem;
         height: 1.6rem;
         transform: translateY(-0.15rem);
      }

      &:hover {
         background-color: #5b5b5b;
      }
   }

   &_image {
      display: flex;
      position: relative;
      width: 100%;
   }

   &_picture {
      width: 100%;

      img {
         width: 100%;
      }
   }

   &_video {
      display: flex;
      position: relative;
      width: 100%;
      object-fit: cover;
      object-position: center;
   }

   &_title {
      display: flex;
      align-items: flex-start;
      padding-top: 2rem;
   }

   &_number {
      width: 6.3271604938vw;
      display: flex;
      align-items: center;

      p {
         @include fontGroteskMono(1.4rem, 1, -0.015em, 400, rgba(#000, 0.5));
         display: flex;
         flex-direction: column;
         gap: 0.4rem;
      }
   }

   &_title_wrap {
      word-wrap: break-word;
      width: calc(100% - 1.85185vw);

      h4 {
         margin-bottom: 4px;
         margin-top: 0.12em;
         color: #0d0d0d;
         font-weight: 500;
         transition:
            color 0.2s ease-in-out,
            opacity 0.2s ease-in-out;

         &:hover {
            opacity: 0.8;
         }
      }

      h5 {
         color: #5b5b5b;
         margin-top: 0.4rem;
         transition: opacity 0.2s ease-in-out;

         &:hover {
            opacity: 0.8;
         }
      }
   }

   &_tags {
      padding-top: 2rem;

      &_item {
         align-items: center;
         display: flex;
         height: 24px;
         justify-content: center;

         background-color: #ececec;
         border-radius: 3px;
         color: #5b5b5b;
         display: flex;
         justify-content: center;
         padding: 0 8px;
         transition:
            color 0.2s ease-in-out,
            background-color 0.2s ease-in-out;

         &:hover {
            background-color: #5b5b5b;
            color: #ececec;
         }
      }
   }

   &_tags_wrapper {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      gap: 6px 6px;
      letter-spacing: -0.015em;
      line-height: 1;
      margin-top: 22px;
      width: 22.6851851852vw;
   }

   &_controls {
      position: absolute;
      right: 1rem;
      top: 1rem;
      display: flex;
      align-items: center;
      gap: 0.6rem;
   }
}

.comingSoon {
   height: 2.8rem;
   padding: 0 0.6rem;
   border-radius: 0.8rem;
   background: rgb(13, 13, 13);

   @include fontABCDiatype(1.4rem, 1.1, -0.03em, 400, #fff);

   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.thumbnail_grid {
   margin-bottom: 4vw;
}

.created {
   margin-top: 1.2rem;
   margin-bottom: -0.6rem;
   display: flex;
   align-items: center;
   gap: 0.6rem;

   &_avatar {
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      background: #e9e9e9;
      flex-shrink: 0;

      &:has(img) {
         background: transparent;
      }

      &_img {
         border-radius: inherit;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }

   &_name {
      @include fontABCDiatype(1.5rem, 1.1, -0.03em, 400, #868686);
   }
}

.square_unicode {
   margin-left: -0.1em;
   margin-right: 0.15em;
   position: relative;
   top: -0.1rem;
}

.location_button {
   svg {
      fill: #5b5b5b;
      margin-right: 4px;
      transition: fill 0.2s ease-in-out;
      width: 8px;
   }
}

.more_button {
   align-items: center;
   display: flex;
   height: 2.4rem;
   flex-shrink: 0;
   width: 2.4rem;
   justify-content: center;

   background-color: #ececec;
   border-radius: 50%;
   color: #5b5b5b;
   display: flex;
   justify-content: center;
   padding: 0 8px;
   transition:
      color 0.2s ease-in-out,
      background-color 0.2s ease-in-out;

   &:hover {
      background-color: #5b5b5b;
      color: #ececec;
   }
}

@media (max-width: 580px) {
   .next_button,
   .prev_button {
      font-size: 3.6rem;
   }

   .thumbnail_title {
      flex-direction: column;
      gap: 1.2rem;
   }

   .thumbnail_tags {
      display: none;
   }

   .pagination {
      &_pages_inner_circle {
         font-size: 1.2rem;
      }

      &_pages_inner {
         padding: 2px 4px;
      }
   }

   .dots {
      height: 26px;
      width: 26px;
      font-size: 1.2rem;
   }
}
