.h1 {
  font-family: var(--font-abcdiatype);
  font-weight: 400;
  font-size: 16rem;
  line-height: 1;
  letter-spacing: -.03em;
}

.h2 {
  font-family: var(--font-abcdiatype);
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.2;
}

.h3 {
  font-family: var(--font-abcdiatype);
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1;
  letter-spacing: -.015em;
}

// 18 px
.h4 {
  font-family: var(--font-abcdiatype);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: -.015em;
}

.h5 {
  font-family: var(--font-abcdiatype);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: -.015em;
}

.h6 {
  font-family: var(--font-abcdiatype);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -.015em;
}

// 12 px
.p {
  font-family: var(--font-abcdiatype);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: -0.015em;
}
